name: Lint
on:
  pull_request:

jobs:
  lint:
    name: golangci-lint
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '~1.20'
      - name: Clone the code
        uses: actions/checkout@v4
      - name: Install linter
        uses: golangci/golangci-lint-action@v4
        with:
          version: v1.51.2
          args: --version
      - name: Run linter
        env:
          EXTRA_LINTER_FLAGS: --out-format=github-actions
        run: make check
