name: Lint
on:
  pull_request:

jobs:
  lint:
    name: golangci-lint
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '~1.24'
      - name: Clone the code
        uses: actions/checkout@v5
      - name: Install linter
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.1.6
      - name: Run linter
        run: make check
